@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

ul li {
    list-style: none;

}

a {
    text-decoration: none;
}

/* nav */

nav {
    box-shadow: 0 1px 3px rgba(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgba(0 0 0 / 7%);
}

nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.nav-left {
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    margin: 20px;
}

.nav-left ul li a {
    text-decoration: uppercase;
    color: #181A18;

}

.nav-left ul li a:hover {
    color: #00754a;

}

.nav-right {
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right .location {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;

}

.nav-right .location:hover {
    color: #00754a
}

.nav-right .location span {
    margin-left: 10px;

}

.location img {
    height: 20px;
}

.nav-right button {
    margin-left: 20px;
}

.btn {
    padding: 6.4px 16px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 40px;
}


.btn-first {
    border: 1px solid rgba(0, 0, 0, 0.87)
}

.btn-first:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.btn-second {
    background-color: #181a18;
    color: #fff;
}

.btn-second:hover {
    background-color: rgba(0, 0, 0, 0.07);
    border-color: rgba(0, 0, 0, 0.07);

}

/*main content*/


.box {
    margin-top: 32px;

}

.box.container {
    display: flex;
}

.box-text {
    width: 50%;
    padding: 32px 80px;
    background-color: #1e3932;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-text h1 {
    font-size: 50px;
}

.box-text p {
    margin-top: 60px;
    margin-bottom: 32px;
    font-size: 24px;
}

.box-img-1 {
    width: 200%;
}

.box-img {

    display: flex;
}

.image-1 {
    width: 100%;
}

.lg {
    font-size: 36px !important;

}

.p-lg {
    font-size: 16px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.box-secondary .container {
    flex-direction: row-reverse;

}

.mb-1 {
    margin-bottom: 32px;

}

.box-light {
    background-color: #d4e9e2;
    color: #181a18;
}

.box-light h1 {
    font-weight: normal;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.footer {
    margin-top: 2px;
    width: 100%;
    height: 200px;
    background: rgb(218, 198, 198);
}


.snap {
    display: flex;


}

i {
    margin: 20px;
    font-size: 30px;
}

.bytex h1 {
    display: flex;
    font-weight: 100;
    font-size: 16px;
}

.bytex h2 {
    font-weight: 100;
    font-size: 14px;
}